<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('blog.home') }}">Fakebook</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('blog.home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="{{ url_for('ecommerce.products') }}">Products</a>
                    <a class="dropdown-item" href="{{ url_for('ecommerce.cart') }}">
                        Cart
                        <span class="badge badge-secondary">{{ cart_size }}</span>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if not current_user.is_authenticated %}
            <li class="nav-item"><a href="{{ url_for('authentication.login') }}" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="{{ url_for('authentication.register') }}" class="nav-link">Register</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('authentication.profile') }}" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="{{ url_for('authentication.logout') }}" class="nav-link">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>